.Card {
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    height: 220px;
    border: 1px solid #000;
    background-color: #F5F1E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    transition: .3s all ease-in;
}

.Card:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.Card img {
    display: block;
    width: 80px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.Card_Temp {
    font-size: 56px;
    line-height: 58px;
    color: #000;
    font-weight: bold;
    margin-bottom: 0;
}

.Card_DayTime {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}